*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-body: #f9f9f9;
    --background-Header: #1f2937;
    --background-card: #fff;
    --background-footer: #1f2937;

    --color-Body: #333;

    --color-Header: white;

    --color-preco: #1f2937;

    --color-footer: white;

}
body{
    background-color: var(--background-body);
    color: var(--color-Body);
    font-family: 'Poppins';
}
header{
    background-color: var(--background-Header);
    color: var(--color-Header);
    text-align: center;
    padding: 20px;
}


img{
    width: 300px;
}

h1{

    font-size: 2rem;

}
.preco{
    color: var(--color-preco);
    margin-top: 5px;
    font-weight: bold;
}
.card h2{
    font-size: 1.2rem;
}
.card p{
    font-size: 0.95rem;
    padding: 5px;
    
}
p{
    
    font-size: 12px;
    text-align: center;
    
}

main{
    padding: 20px;

    max-width: 1200px;

    margin: auto;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.card{
    border: 1px solid #ddd;

    border-radius: 10px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 300px;

    padding: 15px;

    display: flex;

    flex-direction: column;

    align-items: center;

    transition:transform 0.2s ease-in-out;

    background-color: var(--background-card);
    color: var(--color-card);
}



footer{
    background-color: var(--background-footer);  
    color: var(--color-footer);
    text-align: center;
    padding: 10px;
    margin-top: 25px;

}

.card:hover{
    transform: scale(1.03);
}
@media (max-width: 600px) {

    .card {
    
    width: 90%;
    
    }
    
    h1 {
    
    font-size: 1.5rem;
    
    }
    
    }